/* ============================================
   استایل های بخش ویژگی های اضافی (با پیشوند circle1-)
   برای استفاده در صفحه جداگانه
============================================ */

/* بخش اصلی ویژگی های اضافی */
.circle1-extra-features-section {
    /* overflow: hidden; */
    /* background-color: #2a0769; */
}

.circle1-extra-features-section .circle1-section-content {
    padding: 100px 0px;
    padding-top: 0px;
}

.circle1-section-title.text-center {
    padding-bottom: 20px;
}

.circle1-title-text.pink.text-uppercase {
    color: #f11965;
    text-transform: uppercase;
    line-height: 100px;
}

.circle1-title.deep-black {
    color: #af8909;
    padding-bottom: 40px;
}

/* محتوای ویژگی ها */
.circle1-extra-features-content {
    width: 100%;
}

.circle1-extra-left-content {
    display: inline-block;
    width: 100%;
    margin-top: 35px;
}

/* آیتم های ویژگی */
.circle1-extra-icon-text {
    position: relative;
    /* cursor: pointer; */
    transition: all 0.3s ease;
}

.circle1-features-icon {
    height: 80px;
    width: 80px;
    line-height: 100px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    background-color: #f7f7f9;
    margin-left: 20px;
    float: right;
    text-align: center;
    -webkit-box-shadow: 0px 5px 30px -9px rgba(238, 9, 121, 0.75);
    -moz-box-shadow: 0px 5px 30px -9px rgba(238, 9, 121, 0.75);
    box-shadow: 0px 5px 30px -9px rgba(238, 9, 121, 0.75);
    transition: .3s all ease-in-out;
}

.circle1-extra-right .circle1-features-icon {
    float: left;
    margin-right: 20px;
    margin-left: 0;
}

.circle1-features-icon i {
    font-size: 36px;
    transition: .3s all ease-in-out;
    position: relative;
    z-index: 1;
    background: -moz-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #ee0979), color-stop(100%, #ff6a00));
    background: -webkit-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
    background: -o-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
    background: -ms-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* افکت هاور روی آیکن */
.circle1-features-icon:after {
    position: absolute;
    content: '';
    border-radius: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    transition: .3s all ease-in-out;
    transform: scale(.5);
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #ee0979 0%, #ff6a00 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ee0979 0%, #ff6a00 100%) repeat scroll 0 0;
}

.circle1-extra-icon-text:hover .circle1-features-icon:after {
    opacity: 1;
    transform: scale(1);
}

.circle1-extra-icon-text:hover .circle1-features-icon i {
    background: -moz-linear-gradient(left, #fff 0%, #fff 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #fff), color-stop(100%, #fff));
    background: -webkit-linear-gradient(left, #fff 0%, #fff 100%);
    background: -o-linear-gradient(left, #fff 0%, #fff 100%);
    background: -ms-linear-gradient(left, #fff 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* متن ویژگی ها */
.circle1-features-text {
    padding-top: 25px;
    overflow: hidden;
}

.circle1-features-text-title {
    padding-bottom: 10px;
}

.circle1-features-text-title h3 {
    font-size: 26px;
    color: #040404;
    margin: 0;
    transition: all 0.3s ease;
}

.circle1-extra-icon-text:hover .circle1-features-text-title h3 {
    color: #ee0979;
}

.circle1-features-text-dec {
    max-width: 350px;
    margin: 0 auto;
    overflow: hidden;
}

.circle1-text-left {
    text-align: left;
}

.circle1-text-right {
    text-align: right;
}

/* تصویر مرکزی - سایز بزرگتر و سایه */
.circle1-extra-pic {
    text-align: center;
    position: relative;
    height: 500px;
    /* ارتفاع بیشتر */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.circle1-feature-image {
    max-width: 90%;
    /* عرض بیشتر */
    max-height: 450px;
    /* ارتفاع بیشتر */
    height: auto;
    width: auto;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    position: absolute;

    /* سایه زیبا */
    -webkit-box-shadow: 10px 20px 50px -10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 20px 50px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 20px 50px -10px rgba(0, 0, 0, 0.3);

    /* افکت‌های اضافی برای زیبایی */
    /* border-radius: 15px; */
    /* border: 8px solid #fff; */
    /* background: #fff; */
    /* background: transparent !important; */
    mix-blend-mode: screen;
    /* برای پس زمینه های تیره */

}

/* سایه مخصوص برای تصویر پیشفرض */
.circle1-feature-image.circle1-default {
    opacity: 1;
    box-shadow: px 25px 60px -15px rgba(230, 218, 224, 0.4);


}

.circle1-feature-image.hidden {
    opacity: 0;
    transform: scale(0.6) translateY(20px);
}

.circle1-feature-image.active {
    opacity: 1;
    transform: scale(1.1) translateY(0);

    /* سایه قوی‌تر برای تصویر فعال */
    -webkit-box-shadow: 0px 25px 60px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 25px 60px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 25px 60px -10px rgba(0, 0, 0, 0.4);
}

/* سایه مخصوص برای هر تصویر هنگام فعال بودن */
.circle1-feature-image[data-target="clean-design"].active {
    box-shadow: 0px 25px 60px -10px rgba(66, 133, 244, 0.4);
}

.circle1-feature-image[data-target="user-friendly"].active {
    box-shadow: 0px 25px 60px -10px rgba(52, 168, 83, 0.4);
}

.circle1-feature-image[data-target="responsive"].active {
    box-shadow: 0px 25px 60px -10px rgba(251, 188, 5, 0.4);
}

.circle1-feature-image[data-target="affordable"].active {
    box-shadow: 0px 25px 60px -10px rgba(234, 67, 53, 0.4);
}

.circle1-feature-image[data-target="ready-to-use"].active {
    box-shadow: 0px 25px 60px -10px rgba(171, 71, 188, 0.4);
}

.circle1-feature-image[data-target="support"].active {
    box-shadow: 0px 25px 60px -10px rgba(3, 169, 244, 0.4);
}

/* utility classes */
.circle1-pb10 {
    padding-bottom: 10px;
}

.circle1-pb40 {
    padding-bottom: 40px;
}

.circle1-pb50 {
    padding-bottom: 50px;
}

.circle1-pt25 {
    padding-top: 25px;
}

.circle1-text-left {
    text-align: left;
}

.circle1-text-right {
    text-align: right;
}

/* رسپانسیو برای تبلت */
@media (max-width: 991px) {
    .circle1-extra-pic {
        height: 400px;
        margin: 40px 0;
    }

    .circle1-feature-image {
        max-width: 80%;
        max-height: 350px;
    }
}

/* رسپانسیو برای موبایل */
@media (max-width: 767px) {
    .circle1-extra-pic {
        height: 300px;
        margin: 30px 0;
    }

    .circle1-feature-image {
        max-width: 85%;
        max-height: 250px;
        border-width: 5px;
    }
}