.widget-bottom {
    text-align: center;
}

.footer-left {
    background-color: blueviolet;
    text-align: center;

}

.rn-footer-describe {
    color: white;
}



.rn-footer-one {
    padding: 50px 10px;
}

.rn-footer-describe {
    margin-bottom: 0 !important;
}