.widget-bottom {
    text-align: center;
}

.footer-left {
    background-color: blueviolet;
    text-align: center;

}

.rn-footer-describe {
    color: white;
}

.middle-footer {}

.rn-footer-one {
    padding: 50px 10px;
}

.rn-footer-one {
    /* background-image: url(../../../images/footer-background1.webp) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important; */

}