/* common css */
@font-face {
    font-family: "Vazir";
    src: url(../../fonts/Vazir-Regular.ttf);
}

.text0rtl {

    width: 100%;
    position: relative;
    font-family: "Vazir";
    margin: auto;
    align-content: center;

}

.main-wrapper {
    overflow: hidden;

}


#text0section {
    padding-top: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    position: relative;
    /* margin: 10px 10px; */

}

#text0section p {
    /* color: #777777; */
    /* font-size: calc(18px + (16 - 14) * ((100vw - 320px) / (1920 - 320))); */
    /* font-weight: 500; */
    position: relative;
    /* margin-bottom: 15px; */
    /* transition: all 0.5s ease-in-out; */

}


/* button styles */
/* .text0button1 {
    background-color: #1aad07;
    border-radius: 100px;
    min-width: 160px;
    height: 50px;
    text-align: left;
    padding: 13px 46px 11px 15px;
    position: relative;
    display: flex;
    align-items: center;
    background-size: 200% auto;
    transition: all 0.5s ease-in-out;
} */

/* .text0button1:hover {
    box-shadow: 0 6px 22px 3px rgba(92, 35, 35, 0.12);
    background-position: right center;
    transform: translateY(-2px);
} */



/* .text0button1 .title {
    font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* .text0button1 .btn-icon {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 100%;
    text-align: center;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    transition: all 0.5s ease-in-out;
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
} */

/* .text0button1 .btn-icon i {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text0button1 .btn-icon i::before {
    font-size: 10px;
    padding-left: 2px;
}

.text0button2 {
    padding-top: 14px;
    padding-bottom: 12px;
}

.text0button2 .title {
    -webkit-text-fill-color: #ffffff;
} */

/* responsive */
/* @media (max-width: 767px) {
    .text0button1 {
        min-width: 120px;
        height: 40px;
        padding: 10px 43px 9px 12px;
    }

    .text0button1 .btn-icon {
        right: 8px;
    }
} */

/* service section css start */
/* .service-wrapper .row    {
    align-items: center;
} */


.service-content-1 {
    /* margin: 130px 0; */
    padding-right: 10px;
    /* text-align: left; */
}

.service-content-1 .sitemain-subtitle {
    color: #e5e91e;
    font-size: clamp(1.5rem, 6vw + 1rem, 5rem);
    /* font-size: 50px; */
    position: relative;
    margin-top: 50px;
    padding-bottom: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(14px + (22 - 14) * ((100vw - 320px) / (1920 - 320)));
    text-transform: capitalize;
    text-align: right;
}

.service-dec {
    margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
    margin: 50px 5px;
    text-align: right;
    font-size: clamp(2rem, 4vw, 2.5rem);
    font-weight: 700;
    line-height: 40px;
    color: #1cceb6;

}

.service-content-1 .service-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    /* background: url(../image/service/left-line.png) no-repeat left; */
    height: 6px;
    width: 56px;
}

.service-block-content {
    padding-top: calc(25px + (68 - 25) * ((100vw - 320px) / (1920 - 320)));
    margin: 0 auto;
}

.service-block1 {
    margin: 10px auto;
}

.service-block2 {
    margin-top: -115px;
}



.service-content {
    text-align: center;
    /* cursor: pointer; */
    transition: all 0.5s ease-in-out;
    padding: 5px;
    border: 3px solid #eeeeee;
    border-radius: 25px;
}


.service-content .service-content-dec .service-title {
    color: #2bb92b;
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    position: relative;
    margin-bottom: 5px;
    transition: all 0.5s ease-in-out;
}

.service-content .service-content-dec .service-dec-content {
    margin: 25px 0;
    color: #ffffff;
}

.service-icon {
    text-align: center;
    position: relative;
    padding: 14px 0;
}

.service-icon span {

    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.5s ease-in-out;
}

.service-icon span:after {
    content: '';
    position: absolute;
    /* width: 100%;
    height: 100%; */
    /* background: url(../image/service/img5.png) no-repeat center; */
    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0; */
    margin: auto;
    /* transform: scale(0.9); */
    /* filter: opacity(.9); */
    transition: all 0.5s ease-in-out;
}

.service-icon span i {
    /* width: 50px;
    height: 50px; */
    /* line-height: 50px; */
    font-size: 42px;
    position: relative;
    z-index: 1;
    color: #10b819;
    transition: all 0.5s ease-in-out;
}

.service-content:hover {
    box-shadow: rgba(214, 219, 223, 0.5) 0 40px 90px -30px;
    transform: translateY(-10px);
    border: 3px solid #e5e91e;
    /* border-radius: 15px; */
}

.service-content:hover .service-icon span {
    transform: scale(1.5);
}

.service-content:hover .service-icon span i {
    /* -webkit-background-clip: text; */
    color: yellow;
    transform: translateY(-10px) !important;
    transform: scale(5.2);
}

/* .service-content:hover .service-icon img {
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.35);
} */

.service-content:hover .service-title {
    transform: scale(2.5);
    font-size: 30px;
    color: yellow;
    transform: translateY(-5px) !important;

}



.service-block1 .service-content.service-0,
.service-block2 .service-content.service-0 {
    margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
}

/* responsive css */
@media (max-width: 1199px) {
    .service-maintitle {
        margin-bottom: 10px;
    }
}

@media (max-width: 1199px) {
    .service-content-1.main-title-wrapper {
        padding: 0;
    }

    .slider-outer {
        padding-top: 25px;
    }

    .service-title {
        margin-bottom: 5px;
    }
}

@media (max-width: 767px) {
    .service-block2 {
        margin: 0;
    }
}

@media (max-width: 575px) {
    .service-block1 .service-content.service-1 {
        margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
    }

    .service-content-1 .sitemain-subtitle {
        color: #e5e91e;
        text-align: center;
        border-right: solid 4px #10b819;
        border-left: solid 4px #10b819;
        /* font-size: calc(44px + (24 - 14) * ((100vw - 320px) / (575 - 320))); */
        /* font-size: 50px; */

        margin-top: 10px;
    }

    #text0section {
        padding-top: 5px;
        padding-bottom: 10px;
        margin: 5px 5px;

    }

    .service-content-1 {
        margin: 40px auto;
        border-top: solid 4px #10b819;
        padding: 0px 5px;


    }

}

/* service section css end */

/* برای موبایل - فعال کردن هاور */
@media (max-width: 768px) {
    .service-content.mobile-hover-active {
        box-shadow: rgba(237, 240, 241, 0.5) 0 40px 90px -30px;
        transform: translateY(-10px);
        border: 3px solid #e5e91e;
        /* border-radius: 15px; */

    }

    .service-content.mobile-hover-active .service-icon span {
        transform: scale(2);
        filter: opacity(1);
        transform: scale(1.5);

    }

    .service-content.mobile-hover-active .service-icon span i {
        color: yellow;
        transform: scale(1.2);
    }

    .service-content.mobile-hover-active .service-title {
        color: yellow;
        transform: translateY(-5px);
        /* border-radius: 15px; */
        font-size: 30px;
    }

    .text0button1.mobile-hover-active {
        box-shadow: 0 6px 22px 3px rgba(92, 35, 35, 0.12);
        background-position: right center;
        transform: translateY(-2px);
    }
}